* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, li, button, a {
    font-family: "Roboto", sans-serif;
}

p, li {
    color: #434343;
    line-height: 1.8;
}

p, li {
    font-size: 18px;
    color: #434343;
}

h1, h2, h3, h4, h5 {
    font-family: "Changa One", sans-serif;
    color: #434343;
    line-height: 1.25;
    font-weight: 800;
}

h1 {
    font-size: 73px;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 39px;
    margin-bottom: 0.2em;
}

.section-header strong {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #8A53FF;
    text-transform: uppercase;
    letter-spacing: 6%;
    margin-bottom: 0.1em;
}

.section-header_center {
    align-items: center;
}