* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: "Changa One", sans-serif;
    color: #434343;
    line-height: 1.25;
    font-weight: 800;
    margin-bottom: 0.2em;
}

h1 {
    font-size: 73px;
}

h2 {
    font-size: 39px;
}

h3 {
    font-size: 24px;
}

p, li, button, a {
    font-family: "Roboto", sans-serif;
}

p, li, a {
    color: #434343;
    line-height: 1.8;
}

p, li {
    font-size: 18px;
    color: #434343;
}

a {
    color: #8A53FF;
}

.hero-description {
    font-size: 22px;
    line-height: 1.5;
}

.section-header {
    display: flex;
    flex-direction: column;
}

.section-header strong {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #8A53FF;
    text-transform: uppercase;
    letter-spacing: 6%;
    margin-bottom: 0.1em;
}

.section-header_center {
    align-items: center;
}

.primary-color {
    color: #8A53FF;
}