.header-container, .logo-container, .menu, .menu-pages, .menu-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    height: 10vh;
    width: 100vw;
    padding: 0 12%;
    position: fixed;
    top: 0;
    justify-content: space-between;
}

.logo-container {
    align-items: start;
    flex-direction: column;
}

.menu {
    align-items: stretch;
}

.menu-pages {
    justify-content: space-between;
    gap: 2.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.menu-pages__item {
    color: #495367;
    text-transform: capitalize;
}

.menu-actions {
    margin: 0;
    padding: 0;
}

.menu-pages__item_active {
    color: #8A53FF;
}

.vertical-divider {
    border: 1px solid #EEEEEE;
    margin: 0 1.5em;
}

.menu-actions {
    justify-content: space-between;
    gap: 1.5em;
}

.menu-actions__action {
    display: flex;
}