.hero-section {
    display: flex;
    background-image: url("../assets/images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 0;
    margin-top: 10vh;
}

.hero-container {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
    padding: 12%;
    align-items: start;
}

.hero-header_accent-text {
    color: #8A53FF;
}

.hero-description {
    font-size: 22px;
    line-height: 1.5;
}