.page-container {
    padding: 0 12vw;
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

.story-page-container, .page-container {
    margin-top: 10vh;
}

.story-page-container {
    padding: 0 18vw;
}

.hero-section__img {
    background-image: url("../assets/images/hero-img.jpg");
}

.section-with-background-img {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -12vw;
    width: 100vw;
}

.story-page-container > .section-with-background-img {
    margin-left: -18vw;
}

.hero-section {
    height: 80vh;
    padding: 0;
}

.hero-container {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
    padding: 12vw;
    align-items: start;
}

.section {
    margin: 0 0;
}

.section-columns {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 100%;
}

.section-columns__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}