.story-page-container, .page-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    row-gap: 8vw;
}

.page-container {
    padding: 0 12vw;
}

.story-page-container {
    padding: 4vw 18vw 0 18vw;
}

.hero-section__img {
    background-image: url("../assets/images/hero-img.jpg");
}

.section-with-background-img {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -12vw;
    width: 100vw;
}

.story-page-container > .section-with-background-img {
    margin-left: -18vw;
}

.hero-section {
    height: 80vh;
    padding: 0;
}

.hero-container {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
    padding: 12vw;
    align-items: start;
}

.section {
    margin: 0 0;
}

.section-columns {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 100%;
}

.section-columns__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.gallery-section-columns__column, .gallery-section-columns {
    gap: 1em;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.story__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.story__author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.story__author-avatar img {
    border-radius: 100%;
    width: 36px;
    margin-right: 6px;
}

.story__author-name-container p {
    line-height: 1.25;
}

.author-title {
    color: #A2A7B1;
    font-size: 14px;
}

.story__content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}