.page-container {
    padding: 0 12%;
    /* display: flex;
    flex-direction: column;
    gap: 8%; */
}

.hero-container {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);
    padding: 12%;
    align-items: start;
}

.hero-section {
    display: flex;
    background-image: url("../assets/images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 0;
    margin-top: 10vh;
}

.section {
    margin: 12% 0;
}

.section-columns {
    display: flex;
    flex-direction: row;
    gap: 12%;
}

.section-columns__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
    width: 100%;
    margin: 4% 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img-container {
    height: 100%;
    margin-bottom: 1em;
}

.card__img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}   

.card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
}